html {
    box-sizing: border-box;

  }

*{
  background-color: aliceblue;
  font-family: 'Courier New', sans-serif;
}

table, th, td {
  border:1px solid black;
}


.images{
  text-align:center;
  margin:50px auto;
  float:left;
}
  
  
.images figure{
  margin:0px 40px;
  display:inline-block;
  text-decoration:none;
  /*color:black;*/}

.main {
margin:auto;
display: inline-block;
font-weight: bold;
margin-bottom: 30px;
margin-right:400px;
}

button {
  display: inline-block;
  font-weight: bold;
  font-size:medium;
  margin-bottom: 30px;
  margin-left:400px;
  }

